{% extends 'blogs/base.html' %}
{% load static %}
<link rel="stylesheet" href="css/base.css">

{% block title %}Home{% endblock title %}

{% block content %}
    <h1 class='dash_greet'>Home</h1>
    <p class='dash_greet'>Welcome to through camera lens</p>
    <p class='about_me'> 
      <span class='headings'># About Me</span>  <br>
       <br>
       <span class='headings'>📸 **Passionate Photographer | Storyteller | Wanderer**</span> 
       <br>
       Hello! I'm Mayank Chandra, and my lens is my canvas. Photography isn't just a hobby—it's my heartbeat. Here's a glimpse into my world:
    <br>
    <br>
    <br>
    <br>
      <span  class='headings'>## Capturing Moments</span> 
       <br>
       <br>
       <span  class='headings'>🌄 **Landscape Lover** 🌄</span>
       <br>
       The grandeur of mountains, the serenity of lakes, and the dance of sunlight—I chase these moments with my camera. Whether it's a misty morning or a golden sunset, I'm there, ready to freeze time. <br>
       <br>
       <span  class='headings'>🏙️ **Streets Unseen** 🏙️</span> <br>
       Cities have their own rhythm—the hustle, the quiet corners, the unexpected encounters. Street photography lets me weave stories from these fleeting glimpses. Every alley hides a tale.
       <br>
       <span  class='headings'>## The Journey Beyond the Frame</span>
       <br>
       <br>
       <span  class='headings'>🌍 **Wanderlust-Infused** 🌍</span> <br>
       My camera is my travel companion. From bustling markets in Delhi to tranquil forests in Dortmund, I've clicked memories across continents. Traveling fuels my creativity.
       <br>
       <br>
       <br>
       <br>
       <span class='headings'>📝 **Blogging Adventures** 📝</span> <br>
       <br>
       Join me on my visual journey! Through my blogs, I share photography tips, gear reviews, and the stories behind each click. Let's explore together.
       <br>
       </p>
{% endblock %}